<header class="c-page__header">
  <h1><code>{{ site.title}}</code></h1>
  {% if page.title == 'Home' %}
  <h1>{{ site.description }}</h1>
  {% endif %}
  <p>
    <a href="{{ "/" | prepend: site.baseurl }}">Startseite</a><span
          class="u-separate"></span> <a href="{{ "/projekte/" | prepend:
          site.baseurl }}">Projekte</a><span class="u-separate"></span> <a href="{{ "/uber-uns/" | prepend: site.baseurl }}">Über uns</a><span class="u-separate"></span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </p>
</header>
